.heading {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
.food-items {
    font-family: 'Titillium Web', sans-serif;
}
body{
    background-color: antiquewhite;
}
.roti{
    font-size: small;
}
.h4 {
    font-family: 'Titillium Web', sans-serif;
}